In [ ]:
# Topics Covered
# PySpark Dataframe
# Reading The Dataset
# Checking the Datatypes of the Column(Schema)
# Selecting Columns And Indexing
# Check Describe option similar to Pandas
# Adding Columns
# Dropping columns
# Renaming Columns

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 5.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 17.4 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824028 sha256=ab23c3dd4b25717aafb619e7b20391198bc4ddc33449a4cc904b97c770f27b09
  Stored in directory: /root/.cache/pip/wheels/6c/e3/9b/0525ce8a69478916513509d43693511463c6468db0de237c86
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [ ]:
import pyspark
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [ ]:
spark

In [16]:
## read the dataset first row 
spark.read.option('header','true').csv('test2.csv')

DataFrame[Name: string,  Age: string, Experience: string]

In [17]:
## read the dataset  all row 
spark.read.option('header','true').csv('test2.csv').show()

+-----+----+----------+
| Name| Age|Experience|
+-----+----+----------+
|  Ali|  23|        10|
|Fahad|  28|         8|
| Raza|  25|         8|
+-----+----+----------+

In [18]:
df_pyspark=spark.read.option('header','true').csv('test2.csv')
## print schema is like info in pandas
df_pyspark.printSchema()

#It give string to age and experience but it is int what we do

root
 |-- Name: string (nullable = true)
 |--  Age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [19]:
## read the dataset
df_pyspark=spark.read.option('header','true').csv('test2.csv',inferSchema=True)

In [20]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |--  Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [21]:
#second way

df_pyspark=spark.read.csv('test2.csv',header=True,inferSchema=True)
df_pyspark.show()

+-----+----+----------+
| Name| Age|Experience|
+-----+----+----------+
|  Ali|  23|        10|
|Fahad|  28|         8|
| Raza|  25|         8|
+-----+----+----------+

In [23]:
### Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |--  Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [24]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [25]:
df_pyspark.head(3)

[Row(Name='Ali',  Age=23, Experience=10),
 Row(Name='Fahad',  Age=28, Experience=8),
 Row(Name='Raza',  Age=25, Experience=8)]

In [26]:
df_pyspark.show()

+-----+----+----------+
| Name| Age|Experience|
+-----+----+----------+
|  Ali|  23|        10|
|Fahad|  28|         8|
| Raza|  25|         8|
+-----+----+----------+

In [44]:
df_pyspark.select('Name').show()

+-----+
| Name|
+-----+
|  Ali|
|Fahad|
| Raza|
+-----+

In [43]:
df_pyspark.select(['Name','Experience']).show()

+-----+----------+
| Name|Experience|
+-----+----------+
|  Ali|        10|
|Fahad|         8|
| Raza|         8|
+-----+----------+

In [29]:
df_pyspark['Name']

Column<'Name'>

In [30]:
df_pyspark.dtypes

[('Name', 'string'), (' Age', 'int'), ('Experience', 'int')]

In [36]:
df_pyspark.describe().show()

+-------+----+------------------+------------------+
|summary|Name|               Age|        Experience|
+-------+----+------------------+------------------+
|  count|   3|                 3|                 3|
|   mean|null|25.333333333333332| 8.666666666666666|
| stddev|null| 2.516611478423583|1.1547005383792517|
|    min| Ali|                23|                 8|
|    max|Raza|                28|                10|
+-------+----+------------------+------------------+

In [37]:
### Adding Columns in data frame
df_pyspark=df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2)

In [38]:
df_pyspark.show()

+-----+----+----------+-----------------------+
| Name| Age|Experience|Experience After 2 year|
+-----+----+----------+-----------------------+
|  Ali|  23|        10|                     12|
|Fahad|  28|         8|                     10|
| Raza|  25|         8|                     10|
+-----+----+----------+-----------------------+

In [39]:
### Drop the columns
df_pyspark=df_pyspark.drop('Experience After 2 year')

In [40]:
df_pyspark.show()

+-----+----+----------+
| Name| Age|Experience|
+-----+----+----------+
|  Ali|  23|        10|
|Fahad|  28|         8|
| Raza|  25|         8|
+-----+----+----------+

In [42]:
### Rename the columns
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+----+----------+
|New Name| Age|Experience|
+--------+----+----------+
|     Ali|  23|        10|
|   Fahad|  28|         8|
|    Raza|  25|         8|
+--------+----+----------+

# New Section

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
b