In [1]:

!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 3.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 10.9 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824028 sha256=e3aacb5d21d8dd98597fc2501ece778ce9a49b8634fe8b48dd97b77201982904
  Stored in directory: /root/.cache/pip/wheels/6c/e3/9b/0525ce8a69478916513509d43693511463c6468db0de237c86
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [2]:
import pyspark

In [3]:
import pandas as pd
df=pd.read_csv('test1.csv')
df.head()

    Name   Age
0    Ali    23
1  Fahad    28
2   Raza    25

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [6]:
spark

In [8]:
df_pyspark=spark.read.csv('test1.csv')

In [9]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [10]:
df_pyspark.show()

+-----+----+
|  _c0| _c1|
+-----+----+
| Name| Age|
|  Ali|  23|
|Fahad|  28|
| Raza|  25|
+-----+----+

In [13]:
df_pyspark=spark.read.option('header','true').csv('test1.csv')
df_pyspark.show()

+-----+----+
| Name| Age|
+-----+----+
|  Ali|  23|
|Fahad|  28|
| Raza|  25|
+-----+----+

In [14]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [15]:
df_pyspark.head(3)

[Row(Name='Ali',  Age='23'),
 Row(Name='Fahad',  Age='28'),
 Row(Name='Raza',  Age='25')]

In [16]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |--  Age: string (nullable = true)